nav.navbar
  .navbar-inner
    .container.fixed
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/')
        img(src='/images/logo.png', alt='Fundacion Saimiri')
      .nav-collapse
      
        .pull-right
          .slogan Gente - Naturaleza - Vida Silvestre
        
       
article.container.splash
  header.hero-unit
    h1 Saimiri oerstedii

    h3 and 3% of the World's Biodiversity is waiting for you!!!
    
    img(src="/images/splash.png")
    
    .intro
      <br/>
      h2 It's getting hard to protect The Osa Peninsula
      .btn-group
        a.btn.btn-green.btn-large.btn-success(href='/signup') 
          i.icon-camera-retro.icon-large  Visit Soon
         
        a.btn.btn-green.btn-large.btn-danger(href='/signup')
          i.icon-heart-empty.icon-large  Join our efforts


article.striped
  .container
    section.row.iconed_grid
      h6 We are a self-sustaniable non-profit organization
    
      .span6

        h3
          i.icon-search  Scientific Research        
        p Stay @SaimiriStation and join our Primate Research or conduct your own research with our support.
        span.btn.btn-success Room & Board starting @ $40/night

      .span6
        h3 
          i.icon-leaf  Habitat Restoration
        p Help a Endemic Endangered Species by Supporting or Working in Primate Reforestation Programs
        span.btn.btn-success Recover a Squirel Monkey's habitat for $15/month
        

      .span6
        h3 
          i.icon-picture  Enviromental Education
        p Help local youth understand their role in wildlife conservation and influence them toward success.
        span.btn.btn-success Volunteering Oportunities for $900/month


      .span6
        h3 
          i.icon-plane  Rural Eco-Tourism
        p Visit Corcovado NP and surroundings with a certified Biologist and experience the Real Osa Peninsula.
        span.btn.btn-success Visit Corcovado National Park for $1000/person


    hr
      
