nav.navbar
  .navbar-inner
    .container.fixed
      a.brand(href='/')
        img(src='/images/logo.png', alt='Fundacion Saimiri')
      .nav-collapse
      
        .pull-right
          .slogan Gente - Naturaleza - Vida Silvestre
        
       
article.container.splash
  header.hero-unit
    h1 Saimiri oerstedii

    h3 and 3% of the World's Biodiversity is waiting for you!!!
    
    img(src="/images/splash.png")
    
    .intro
      <br/>
      h2 It's getting hard to protect Osa Peninsula
      .btn-group
        a.btn.btn-green.btn-large.btn-success(href='/signup') 
          i.icon-camera-retro.icon-large  Visit Soon
         
        a.btn.btn-green.btn-large.btn-warning(href='/signup')
          i.icon-heart-empty.icon-large  Join our efforts


article.white
  .container.iconed_grid
    h1.proxima We can work togheter
  
    h6 towards the conservation of Osa Peninsula

    section.row-fluid

      .span6
        h3.proxima
          i.icon-search  Scientific Research        
        p.proxima Stay at SaimiriStation and join our Primate Research or conduct your own research with our support.
        h4.btn.btn-success Room & Board starting @ $40/night

      .span6
        h3.proxima
          i.icon-leaf  Habitat Restoration
        p.proxima Help a Endemic Endangered Species by Supporting or Working in Primate Reforestation Programs
        h4.btn.btn-success Recover a Squirel Monkey's habitat for $15/month

    section.row-fluid

      .span6
        h3.proxima 
          i.icon-picture  Enviromental Education
        p.proxima Volunteer helping local kids understand wildlife conservation, teach english and internet
        h4.btn.btn-success Volunteering Oportunities for $900/month


      .span6
        h3.proxima 
          i.icon-plane  Rural Eco-Tourism
        p.proxima Visit Corcovado NP and surroundings with a certified Biologist and experience the Real Osa Peninsula.
        h4.btn.btn-success Visit Corcovado National Park for $1000/person


      .footer.span12
        h5 We are a self-sustaniable non-profit organization
        a.btn.btn-large.btn-warning We take Donations via Paypal


article.rock
  .container
    section.row.blog
      h1.proxima What we are working on
      h6 Latest posts from our blog
      
      .row.posts
      
    
article.gradient
  .container
    section.row
     
      .row
        .span3
          h1 About us
  
          h3.proxima Our Team
          p Daniela Solano MSC Wildlife
          p Esther Pomareda
          p Daniela Lapeira
          p Roberto Rodriguez
          p Ana Rojas


        .span9
          h3.proxima Our Style
          p.proxima Fundacion Saimiri is a grassroots organization created and based in the Osa Peninsula created to promote practical sustainable practices in order to allow for progress to happend along with the development of our costal community

        .span9
          h3.proxima Our Location
          p.proxima The most bio-diverse place on earth, a beautiful and isolated peninsula with the Golfo Dulce (sweet gulf) on one side and the longest stretch of undeveloped and protected costal in the other side. Home to Jaguars, Whales, Turtules, Macaws and 1900 more species
          h4 Guadalupe , La Palma of Puerto Jimenez; 400 Mts East of Danta Lodge
   