nav.navbar
  .navbar-inner
    .container.fixed
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/')
        img(src='/images/logo.png', alt='Fundacion Saimiri')
      .nav-collapse
      
        .pull-right
          .slogan Gente - Naturaleza - Vida Silvestre
        
       
article.container.splash
  header.hero-unit
    h1 Saimiri oerstedii

    h3 lo espera junto al 3% de la Biodiversidad del Mundo
    
    img(src="/images/splash.png")
    
    .intro
      <br/>
      h2 It's getting hard to protect Osa Peninsula
      .btn-group
        a.btn.btn-green.btn-large.btn-success(href='/signup') 
          i.icon-camera-retro.icon-large  Visit Soon
         
        a.btn.btn-green.btn-large.btn-danger(href='/signup')
          i.icon-heart-empty.icon-large  Join our efforts


article.white
  .container
    section.row.iconed_grid
      h1.proxima We can work togheter
      
      h6 towards the conservation of Osa Peninsula

      .span6
        h3.proxima
          i.icon-search  Scientific Research        
        p.proxima Stay @SaimiriStation and join our Primate Research or conduct your own research with our support.
        span.btn.btn-success Room & Board starting @ $40/night

      .span6
        h3.proxima
          i.icon-leaf  Habitat Restoration
        p.proxima Help a Endemic Endangered Species by Supporting or Working in Primate Reforestation Programs
        span.btn.btn-success Recover a Squirel Monkey's habitat for $15/month


      .span6
        h3.proxima 
          i.icon-picture  Enviromental Education
        p.proxima Help local youth understand their role in wildlife conservation and influence them toward success.
        span.btn.btn-success Volunteering Oportunities for $900/month


      .span6
        h3.proxima 
          i.icon-plane  Rural Eco-Tourism
        p.proxima Visit Corcovado NP and surroundings with a certified Biologist and experience the Real Osa Peninsula.
        span.btn.btn-success Visit Corcovado National Park for $1000/person


      .footer.span12
        h5 We are a self-sustaniable non-profit organization
        a.btn.btn-large.btn-danger We take Donations via Paypal


article
  .container
    section.row.blog
      h1.proxima What we are working on
      h6 Latest posts from our blog
      
      .post
        .row-fluid
          img(src="images/blog1.png").span4
          .span8
            h3.proxima America's Day Fundaraiser
            h6 October 12 2012
            p We have a great idea that you are going to love!!!
            p For the past year we have several groups of kids 4 - 17 in our Enviromental Group, and we are impressed about the change!!!
            p But now we want to change their world, so in partnership with BTC and INTEL we are going to teach them Computers and open a Free Computer Lab in Guadalupe.
        
        
      .post
        .row-fluid
          img(src="images/splash_front.png").span4
          .span8
            h3.proxima The Primate Trail
            p So we finally start the construction of the Primate Trail, after receiving the visit from Pietro Stagno and Luz Letellier from Luz de Piedra, amazing arquitctes that designed the primary structures and informaciont boots;
            p So now we are working hard in the construction!

      .post
        .row-fluid
          img(src="images/splash_front.png").span4
          .span8
            h3.proxima Trip Enviromental Group
            p With great effort we manage to take 25 kids and their parents to the Osa Wildlife Santuary so they could experience first hand what animals have to endure when humans take them from their enviroment;
            p After a long boat trip accros the Osa Peninsula Golfo Dulce we landed at the Santurayr where Carol received us; It was a great experience and we thanks our supportes for the $200 that we could pick to pay for the $650 trip.



      .post
        .row-fluid
          .span4
            img(src="images/splash_front.png")
          .span8
            h3.proxima Primate Monitoring
            p Winter is aproaching and with it the most active time of the year for mammal monitoring, with an increasing number of tracks, camara traps and observations to extend our 12+ study on the behavior of Primates in the Osa Peninsula.


article.gradient
  .container
    section.row
     
      .row
        .span3
          h1 About us
  
          h3.proxima Our Team
          p Daniela Solano MSC Wildlife
          p Esther Pomareda
          p Daniela Lapeira
          p Roberto Rodriguez
          p Ana Rojas


        .span9
          h3.proxima Our Style
          p.proxima Fundacion Saimiri is a grassroots organization created and based in the Osa Peninsula created to promote practical sustainable practices in order to allow for progress to happend along with the development of our costal community

        .span9
          h3.proxima Our Location
          p.proxima The most bio-diverse place on earth, a beautiful and isolated peninsula with the Golfo Dulce (sweet gulf) on one side and the longest stretch of undeveloped and protected costal in the other side. Home to Jaguars, Whales, Turtules, Macaws and 1900 more species
          h4 Guadalupe , La Palma of Puerto Jimenez; 400 Mts East of Danta Lodge
